<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381107412178-061vm5rghhd7oee4vuod2hd97kabvr0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381107412178-061vm5rghhd7oee4vuod2hd97kabvr0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381107412178-pspfrgrd7j8mlufa45ud8imatq3hu49h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByFJYcFwtDOsg133fuBANwrz9soIdKu3w</string>
	<key>GCM_SENDER_ID</key>
	<string>381107412178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appifylabTask</string>
	<key>PROJECT_ID</key>
	<string>appifylabtask</string>
	<key>STORAGE_BUCKET</key>
	<string>appifylabtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381107412178:ios:80f93c90f14c07b1bfe10b</string>
</dict>
</plist>